
@media only screen and (max-width:8000px) {

  /* For tablets: */
  .contenedor {
    width: 50%;
    padding: 0;
  }
 
  p {
    width: 100%;
  }

  @media only screen and (max-width:500px) {

    /* For mobile phones: */
    .division,
    p {
      width: 100%;
    }
  }

 


  .icono a {
    text-decoration: none;
    color: white;
    padding: 7px;
    display: inline-block;

  }

  .icono a:hover {
    background: blue;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
   translate: 2s;

  }

  .center-image:hover {
    width: 300px;
    height: 480px;
    transform: translateX(-5%);
    transform: translateY(5%);
  }

/*imagen con texto al lado*/
  .imagenes-texto{
    display: flex;
   
    
 
  }
 .imagenes-texto2{
   display: flex;
 
 }
  .imagenes-mov1 {
    margin-right: 20px;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    transform: 1s;
    cursor: pointer;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    transition: 3s;
  }

  .imagenes-mov1:hover {
    
    filter: brightness(auto);
    width:auto;
    cursor: pointer;
    height: auto;
    margin:auto;
    transform: scalex(115%)scaleY(115%)

  }
  .imagenes-mov2 {
    margin-left: 20px;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    transform: 1s;
    cursor: pointer;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    transition: 3s;
  }

  .imagenes-mov2:hover {
    
    filter: brightness(auto);
    width:auto;
    cursor: pointer;
    height: auto;
    margin:auto;

    transform: scalex(115%)scaleY(115%);
  }
  .imagenes-mov {
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    transform: 1s;
    cursor: pointer;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);



  }

  .imagenes-mov:hover {
    
    filter: brightness(auto);
    width:auto;
    cursor: pointer;
    height: auto;
    margin:auto;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);


  }

.cuerpo1{
  
    margin: 10px;
    padding: 10px
  
}
.cuerpo2{
  
  margin: 10px;
  padding: 10px

}
.cuerpo3{
  
  margin: 10px;
  padding: 10px

}
.cuerpo4{
  
  margin: 10px;
  padding: 10px

}
.cuerpo5{
  
  margin: 10px;
  padding: 10px

}
.cuerpo6{
  
  margin: 10px;
  padding: 10px

}
  footer {
    background-color: rgba(3, 54, 131, 0.822);

    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
  }

  .footer_top {
    background-color: #464646
  }

  * {
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  p {
    background-color: rgba(108, 154, 173, 0.185);
    font-size: 140%;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 41px 0px rgba(0, 0, 0, 0.75);

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 3px solid #000000;
  }

  h1 {
    margin: auto;
    font-size: 32px;
    color: black;
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 32px;
    color: #000000;
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    font-size: 32px;
    color: #000000;
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
  }

  h4 {
    color: #029fff;
    font-style: italic;
    font-size: 140%
  }
  /*MENU*/
  nav {
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 10px;
   
}


nav ul li {
  display: inline;
  margin-right: 20px;
  }
.autito{
 margin-right: 60px;
}



  table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
  }

  tr {
    border: 2px solid black;
    padding: 5px;
  }

  td {
    border: 2px solid black;
    padding: 10px;
  }
}



/* animaciones */
p{ 
  animation-duration: 0.5s;
   animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.center-image:hover {
  animation: zoom 1s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-item1 {
  background: red;
  text-align: center;
  border: black 5px solid; 
  width: 50px;
  height: 50px;
}
.grid-item2 {
  background: red;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item3 {
  background: red;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item4 {
  background: red;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item5 {
  background: red;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item6 {
  background: red;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item7 {
  background: green;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item8 {
  background: green;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}
.grid-item9 {
  background: green;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}

.grid-item10 {
  background: green;
  text-align: center;
  border: black 5px solid;
  width: 50px;
  height: 50px;
}

/* fondo de html */

body, menu, div, nav{
  background-color: #029fff;
  background-image: url("imagenes/5559852.jpg");
}




.container{
  margin: auto;
  /*background-color: white;*/
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin-top: 20px;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 750px;
    height: auto;
    transition: opacity .4s;
    background: aqua;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
  opacity: 1; 
}

.menu{
  text-align: center;
  margin: 20px;
  
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  background-color: black;
  padding: 8px;
  border-radius: 100%;
}