<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="styles.css">
<link rel="icon" href="iconos/icono.2.ico">



<header>
  <div class="division">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <h1 class="display-3">Aprender a conducir es un privilegio</h1>
      <div class="container-fluid">
        <img class="autito"
          src="imagenes/Vector De Logotipo De Coche Deportivo PNG , Sport Car, Logo, Coche PNG y Vector para Descargar Gratis _ Pngtree.jpg"
          alt="logo" width="200" height="200">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button type="button" class="btn btn-secondary"><a class="nav-link" href="index.html">Inicio</a></button>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary"><a class="nav-link" href="nosotros.html">Acerca de
                  nosotros</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary"> <a class="nav-link"
                  href="contacto.html">Contactanos</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary"> <a class="nav-link" href="usuario.html">Unite a
                  nosotros</a></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--<nav>
      <ul class="menu">
        <a href="index.html">Inicio</a>
        <a href="nosotros.html">Acerca de nosotros</a>
        <a href="contacto.html">Contactanos</a>
        <a href="usuario.html">Unite a nosotros</a>
      </ul>
    </nav> -->
  </div>

</header>
<main>




  <body>
    <div class="cuerpo6">
      <p></p>
      <h3 class="display-3"><span class="text-muted">Solicitar Turno</span></h3>
      <p></p>
      <!-- <form action="show_data.html" target="_blank"> -->
      <form action="php/formulario.php"></form>

      <p>Nombre:<input type="text" name="nombre" /></p>
      <p>Apellido:<input type="text" name="apellido" /></p>
      <p>Profesor:<input type="text" name="profesor" /></p>
      <p>Horarios
        <input type="radio" name="Horarios" value="Mañana" checked>Mañana
        <input type="radio" name="Horarios" value="Tarde">Tarde
        <input type="radio" name="Horarios" value="Noche"> Noche
      </p>
      <p>Email:<input type="text" name="email" /></p>
      <p>Telefono:<input type="text" name="telefono" /></p>
      <p>Fecha:<input type="text" name="fecha" /></p>

      <p><input type="submit" value="Enviar"></p>
      <!-- <label for="Nombre">Nombre: </label><input size="30" type="text" name="Nombre"
        placeholder="Ingrese su nombre aqui..."> <br><br>
      <label for="Apellido">Apellido:</label><input size="30" type="text" name="Apellido"
        placeholder="Ingrese su apellido aqui..."> <br><br>
      <label for="Calle">Direccion:</label><input type="text" name="Calle" placeholder="Ingrese su dirección aqui...">
      <br><br>
      <label for="Telefono">Telefono: </label><input type="tel" name="telefono"
        placeholder="ingrese su telefono aqui ...."> <br><br>
      <label for="Fecha de turno">Fecha de turno.(mm/dd/yyyy): </label> <input type="date" name="Turno"> <br><br>
      <label for="mail">Mail: </label><input type="email" name="mail"> <br><br>

      <p>Deja tus datos para tu futura licencia</p>

      <p>Género (Radio)
        <input type="radio" name="Genero" value="hombre" checked>Hombre
        <input type="radio" name="Genero" value="Mujer">Mujer
        <input type="radio" name="Genero" value="Otro"> Otro
      </p>
      <p> Como definirias tus conocimientos previos:
        <input type="checkbox" name="conocimientos" value="principiante"> Principiante
        <input type="checkbox" name="conocimientos" value="intermedio"> Intermedio
        <input type="checkbox" name="conocimientos" value="avanzado"> Avanzado
      </p>


      <label for="estudios">Disponibilidad horaria</label>
      <select id="estudios" name="estudios">
        <option value="Mañana">Mañana</option>
        <option value="Tarde">Tarde</option>
        <option value="Noche">Noche</option>
      </select>
      <br>

      <label for="Horarios">Comunicanos la franja horaria de la seleccionada</label> <textarea name="comentarios"
        rows="5" cols="30"></textarea>
      <br>
      <input type="submit" value="Enviar">
      <button type="reset">Reset</button> -->
      <p></p>
      <h3 class="display-3"><span class="text-muted">Deja tus datos y nosotros te llamamos</span></h3>
      <p></p>

       <button onclick="miFuncion()" href="usuario.html">Haz clic aquí</button> 

       <div id="ejemploVM">
        <h1> {{ titulo }}</h1>
        <input type="text" v-model="nuevaPersona" @keyup.enter="agregarPersonaConIF">
        <ul>
            <li v-for="persona in personas">
                {{ persona.nombre }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
   
        <script src="javascript/funcion.js"></script>

        <p>CUPOS DISPONIBLES (POR MES) EN VERDE</p>
        <div class="grid-container">
          <div class="grid-item1"></div>
          <div class="grid-item2"></div>
          <div class="grid-item3"></div>
          <div class="grid-item4"></div>
          <div class="grid-item5"></div>
          <div class="grid-item6"></div>
          <div class="grid-item7"></div>
          <div class="grid-item8"></div>
          <div class="grid-item9"></div>
          <div class="grid-item10"></div>

        </div>
        <p>Si usted hace click en el boton Enviar, la informacion sera enviada a la
          pagina"www.AprenderaconducirconelCUDI.com.ar" y recibiras una notificacion de nuestros empleados.</p>
      </form>
    </div>
    </div>
  </body>
</main>
<footer>

  <ul class="icono">
    <li> <a href="https://twitter.com/" target="_blank">
        <img src="iconos/twitter-logo.2.ico" width="30px" align="middle">Contactanos por twitter
      </a></li>
    <li> <a href="https://www.facebook.com/" target="_blank">
        <img src="iconos/facebook.ico" width="30px" align="middle">Contactanos por facebook
      </a></li>
    <li> <a href="https://www.instagram.com/" target="_blank">
        <img src="iconos/instagram.ico" width="30px" align="middle">Contactanos por instragram
      </a></li>
  </ul>
</footer>
<div>
  <p class="slideup" style="animation-delay: 4s;">Gracias por confiar en nosotros!</p>
  <a class="slideup" style="animation-delay:5s;" href="#"><label style="background: 
  black; border-color:black; 
  height: 44px; color: white;
   min-width: 152px; 
   text-align:center; 
   border-radius:3px; 
   font-size: 16px; 
   padding: 10px; 
   font-weight: 700;">Inicio</label></a>
</div>