body {
    background-image: url('imagenes/fondoauto2g');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  *{
    margin: 10px;
    padding: 5px;
    font-family: Verdana, Geneva;
  }